.list-item {
  width: 100%
}

.list-item button .material-icons {
  font-size: 16px
}

.list-item {
  border-bottom: 1px solid #CCC;
}

.list-item:hover button {
  float: right;
  margin: 7px 5px;
  width: 30px;
  height: 30px;
  display: inline;
}

.list-item button {
  display: none
}

.list-item /deep/ .md-checkbox-label {
  margin: 10px 0;
}

.completed {
  color: #9d9d9d;
  text-decoration: line-through
}

.fab-add {
  position: absolute;
  right: 30px;
  top: 50px;
}


